.max-tray {
  display: flex;

  height: 600px;
  width: 600px;

  background: white;

  border: 15px solid #f3f3f3;
  border-radius: 30px;
  padding: 15px;
}

.max-tray__frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  flex: 1;
  border-radius: 15px;
}

.max-tray__samples {
  display: flex;

  width: 100%;
  height: 150px;
}

.max-tray__sample:first-child {
  border-bottom-left-radius: 15px;
}
.max-tray__sample:last-child {
  border-bottom-right-radius: 15px;
}

.max-tray__pan {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "lucida-console";
  font-size: 40px;
}
