.palette-card {
  display: flex;
  flex-direction: column;

  background: lightgrey;
  border-radius: 8px;

  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
}

.palette-card:last-child {
  margin: 0;
}

.palette-card__info {
  display: flex;
  justify-content: space-between;
}

.palette-card__name {
  font-size: 1.5rem;
  font-family: "lucida-console";
  padding-bottom: 1rem;
}

.palette-card__options {
  display: flex;

  font-family: "lucida-console";
  font-size: 1.3rem;
}

.palette-card__button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.palette-card__color-list {
  display: flex;
  height: 100px;
}
