.edit-palette {
  display: flex;
  /* TODO: un-hardcode this */
  height: calc(100vh - 60px - 2rem);
}

.edit-palette__panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.edit-palette__panel-section {
  flex: 1;
  display: flex;
}

.edit-palette__options-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.edit-palette__label {
  font-family: "lucida-console";
}

.edit-palette__color-picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.edit-palette__button-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.edit-palette__button {
  border: none;
  padding: 1rem 2rem;
  font-family: "lucida-console";
  font-size: 1.3rem;
  border-radius: 8px;
}
