.edit-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-palette__options-container {
  width: 100%;
  align-self: flex-start;
  display: flex;
  align-items: center;
}
