.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: "transparent";
  height: 60px;
  padding: 2rem;
}

.header__title {
  font-family: "luckiest-guy";
  font-size: 80px;
  text-transform: capitalize;

  opacity: 0.1;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__option {
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: "lucida-console";
  text-transform: capitalize;
}

.header__action-button {
  padding: 15px 30px;

  border: 1px solid #9b9b9b;
  border-radius: 30px;
  background: #ebebeb;

  font-family: "lucida-console";
}
