.palette {
  width: 280px;

  background: white;
  border: 1px solid #9B9B9B;
  border-radius: 30px;
}

.palette__frame {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 20px;

  padding: 16px;
  border: 8px solid #DADADA;
  border-radius: 30px;
}