.palette__pan {
  display: inline-block;
  height: 100px;
  width: 100px;

  border-color: #DADADA;
  border-width: 8px;
  border-style: solid;

  transition: all 0.15s ease-out;
}

.palette__pan--hover {
  border-color: #AAAAAA;
}

.palette__pan--active {
  transform: scale(0.95);
}