@font-face {
  font-family: 'luckiest-guy';
  src: url('/src/assets/fonts/LuckiestGuy-Regular.ttf');
}

@font-face {
  font-family: 'lucida-console';
  src: url('/src/assets/fonts/Lucida\ Console\ Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
