.slider {
  display: flex;
  align-items: center;
}

.slider__value {
  font-family: "lucida-console";

  background: #e5e5e5;
  padding: 10px 15px;
  border-radius: 7px;
}

.slider__label {
  font-family: "lucida-console";
}

.slider__input {
  flex: 1;
  margin-right: 1rem;
}
